.enrolled__box {
    width: 444px;
    height: 360px;
    border-radius: 12px;
    background: #fff;
  }
  
  .enrolled__text {
    
    padding-top: 41px;
    text-align: center;
    font-size: 40px;
    font-weight: 400;
    line-height: 48px;
  }
  .enrolled__img {
    height: 223px;
    margin-left: 105px;
  }
  