.select-workout {
    border-radius: 12px;
    background: #FFF;
    margin: 140px auto;
    padding: 36px 54px;
    border-radius: 12px;
    width: 444px;
    /* position: absolute; */
    /* z-index: 1; */
}

.select-workout__title {
    color: #000;
    font-variant-numeric: lining-nums proportional-nums;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px;
    /* 125% */
}


.select-workout__listItems {
    overflow-y: auto;
    width: 337px;
    min-height: 76px;
    max-height: 452px;
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    gap: 12px;
    align-items: center;
}

.select-workout__listItems li {
    list-style-type: none;
}

.select-workout__listItems::-webkit-scrollbar {
    width: 5px;
    border-radius: 10px;
    cursor: pointer;
}

.select-workout__listItems::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.05);
}

.select-workout__listItems::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: rgba(0, 0, 0, 0.15);
}

.listItems__element {
    width: 278px;
    height: 76px;

    cursor: pointer;

    border-radius: 26px;
    border: 1px solid #000;

    color: #000;

    display: flex;
    flex-direction: column;
    gap: 6px;
    align-items: center;

    padding-top: 12px;
}

.listItems__element_complete {
    border: 1px solid #06B16E;
    color: #06B16E;

    background-image: url('../img/complete.svg');
    background-size: 27px 25px;
    background-repeat: no-repeat;
    background-position: top 12px right 12px;
}

.listItems__lessonTitle {
    font-variant-numeric: lining-nums proportional-nums;
    font-size: 20px;
    font-weight: 400;
    line-height: 115%;
    /* 23px */
    letter-spacing: -0.05px;
}

.listItems__parentCourse-nday {
    font-variant-numeric: lining-nums proportional-nums;
    font-size: 16px;
    font-weight: 400;
    line-height: 18px;
    letter-spacing: 0.016px;
}