* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: 'StratosSkyeng';
  src: local("StratosSkyeng"),
      url("/public/fonts/StratosSkyeng.woff2") format("woff2"); 
    font-weight: 400;
    font-style: normal;
}

@font-face {
  font-family: 'Abhaya-Libre';
  src: local("Abhaya-Libre"),
      url("/public/fonts/AbhayaLibre-ExtraBold.ttf") format("truetype"); 
    font-weight: 800;
    font-style: normal;
}

body {
  background: #FAFAFA;
  font-family: "StratosSkyeng", sans-serif; 
}

a {
  text-decoration: none;
}

/* 1440/2 = 720 отступ 140 720-140 = 580 */
.center {
  padding-left: calc(50% - 580px);
  padding-right: calc(50% - 580px);
}

.header__nav {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}

.logo__img {
  height: 35px;
  width: 230px;
  background-image: url(/public/img/logo-black.png); 
  background-repeat: no-repeat;
  background-position: center;
}

.loginButton {
  border-radius: 46px;
background: #140D40;

display: inline-flex;
padding: 5px 16px 7px 16px;
justify-content: center;
align-items: center;
gap: 8px;

  color: #FFF;
  text-align: center;
  font-variant-numeric: lining-nums proportional-nums;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-size: 16px;
  line-height: 24px; /* 150% */

  cursor: pointer;
}


.loginButton:hover {
  background: #2D1F79;
}

.loginButton:active {
  background: #3B29A1;
}

/* 
footer {
} */

.footer__button {
  width: 147px;
  height: 48px;
  border-radius: 46px;
  background-color: #c7e957;
  margin: 0 auto;
  display: block;

  color: #000;
  text-align: center;
  font-variant-numeric: lining-nums proportional-nums;
  font-size: 24px;
  line-height: 32px; /* 133.333% */
  letter-spacing: -0.1px;

  cursor: pointer;
}
.content__btn:hover,
.footer__button:hover {
  background: #DAF289;
}

.content__btn:active,
.footer__button:active {
  background: #EBFFAB;
}

/* активная кнопка purple */

.__btn {
  width: 278px;
  height: 52px;
  border-radius: 46px;
  border: none;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
  background: #580ea2;
  color: #fff;
  cursor: pointer;
}


.get__btn {
  margin-top: 60px;
 
}
.button__edit:hover,
.application__btn:hover,
.get__btn_new:hover,
.get__btn:hover {
  background: #3f007d;
}


.button__edit:active,
.application__btn:active,
.get__btn_new:active,
.get__btn:active {
  background: #271a58;
}
