body {
    background-color: #fafafa;
  }
  
  .header__user-box {
    display: flex;
    align-items: center;
  }
  
  .header__user {
    font-size: 24px;
    font-weight: 400;
    line-height: 32px;
    margin-left: 15px;
    margin-right: 12px;
  }
  
  .workout__header {
    margin-top: 75px;
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
    gap: 40px;
  }
  
  .workout__header h1{
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    line-height: 56px;
  }
  
  .big-title {
    font-size: 48px;
    font-style: normal;
    font-weight: 400;
    line-height: 56px;
  }
  
  .small-title {
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px;
  }
  

  .workout__video {
    width: 1160px;
    position: relative;
  }
  
  .button-play {
    position: absolute;
    left: 895px;
    top: 241px;
  }
  
  
  /* упражнения */
  
  
  .workout__text {
    margin-top: 75px;
    display: flex;
    justify-content: space-between;
    gap: 92px ;
  }
  
  .workout-description__title {
    margin-bottom: 30px;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px;
  
  }
  
  .workout-description{
    display: flex;
    flex-direction: column;
  }
  
  .workout-description h2{
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px;
  }
  
  .workout-description__text{
    width: 428px;
    position: relative;
    left: 22px;
  }
  
  .workout-description__text li{
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
  }
  
  .progress__btn{
    margin-top: 40px;
  }
  .progress__btn:active {
    background: #271a58;
  }
  .progress__btn:hover {
    background: #3f007d;
  }
  
  .workout__progress {
    width: 638px;
    height: 336px;
    border: 1px;
    background-color: #f2f2f2;
    border-radius: 30px;
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  
  .workout-progress__item{
    display: flex;
    gap: 34px ;
    margin-left: 44px;
    margin-right: 55px;
  }
  
  .workout-progress__title{
    margin-top: 36px;
    margin-bottom: 40px;
    font-size: 32px;
    font-style: normal;
    font-weight: 400;
    line-height: 40px;
  }
  
  
  
  .workout-progress__text{
    margin-bottom: 32px;
  }
  
  .workout-progress__text p{
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 32px;
  }
  
  .workout-progress__text-p{
    margin-bottom: 30px;
  }
  
  /* бары */
  
  .workout__block-progress-bar{
    display: flex;
    gap: 27px;
    flex-direction: column;
  }
  
  .first-range {
    position: relative;
    
  }
  
  .input-loader {
    width: 278px;
    height: 36px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    overflow: hidden;
    border-radius: 22px;
    
  }
  
  .input-loader::-webkit-slider-runnable-track {
    height: 36px;
  }
  
  .input-loader::-webkit-slider-thumb {
    --thumb-height: 1px;
    --thumb-width: 1px;
    -webkit-appearance: none;
    width: var(--thumb-width, var(--thumb-height));
    background: #fff;
    border-radius: 22px;
    box-shadow: calc(-100vmax - var(--thumb-width, var(--thumb-height))) 0 0 100vmax
  }
  
  .first-number{
    font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  color: #fff;
  position: absolute;
  left: 75px;
  }
  
  
  .blue::-webkit-slider-thumb {
    box-shadow: calc(-100vmax - var(--thumb-width, var(--thumb-height))) 0 0 100vmax #565eef
  }
  
  .orange::-webkit-slider-thumb {
    box-shadow: calc(-100vmax - var(--thumb-width, var(--thumb-height))) 0 0 100vmax #FF6D00
  }
  
  .purple::-webkit-slider-thumb {
    box-shadow: calc(-100vmax - var(--thumb-width, var(--thumb-height))) 0 0 100vmax #9A48F1
  }
  
  .blue::-webkit-slider-runnable-track{
    background-color: #EDECFF;
  }
  
  .orange::-webkit-slider-runnable-track{
    background-color: #FFF2E0;
  }
  
  .purple::-webkit-slider-runnable-track{
    background-color: #F9EBFF;
  }
  
  .blue{
    border: 2px solid #565eef;
  }
  
  .orange{
    border: 2px solid #FF6D00;
  }
  
  .purple{
    border: 2px solid #9A48F1;
  }