

body{
    background: #FAFAFA;;
}

/* стили для курсов */

.course {
  margin-top: 75px;
  height: 310px;
}

.course__box {
  height: 310px;
  width: 1160px;
  display: flex;
  justify-content: space-between;
  background: rgba(205, 205, 205, 0.10);


 
}

.course__yoga {
  padding-left: 30px;
  padding-top: 30px;
  font-size: 64px;
  font-weight: 400;
  line-height: 72px;
}

.course__img-box{
  width: 425px;
  height: 310px;
  position: relative;
  overflow: hidden;
  right: 51px;
}

.course__img {
  background: #FAFAFA;
  position: absolute;
  transform: translate(-8px, -172px);
  width: 427px;
  height: 550px;
}

.tender {
  margin-top: 75px;
  margin-bottom: 75px;
}

.tender__title {
  font-size: 40px;
  font-weight: 400;
  line-height: 48px;
}

.offers {
  margin-top: 40px;
  display: flex;
  gap: 87px;
}

.offers__box {
  display: flex;
  gap: 24px;
}

.offers__number {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 1202px;
  background: #c7e957;
  width: 67px;
  height: 67px;
}

.offers__number p {
  color: #000;
  font-size: 32px;
  font-weight: 400;
  line-height: 40px;
}

.offers__text {
  width: 244px;
}

.offers__text p {
  color: #000;
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
}

.directions__title {
  margin-bottom: 22px;
  font-size: 40px;
  font-weight: 400;
  line-height: 48px;
}

.directions__line {
  display: flex;
  column-gap: 168px;
  padding-left: 35px;
}

.directions__text li {
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
}

.describe__text {
  margin-top: 75px;
  margin-bottom: 75px;
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
}

.register__box {
  background: #f9ebff;
  height: 300px;
  border-radius: 30px;
  display: flex;
  margin-bottom: 95px;
}

.application {
  padding-top: 46px;
  padding-left: 52px;
}

.application__text {
  color: #000;
  margin-bottom: 46px;
  font-size: 32px;
  font-weight: 400;
  line-height: 40px;
}

.application__btn {
  border-radius: 46px;
  width: 275px;
  height: 52px;
  background: #580ea2;
  color: #fff;
  border: none;

  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
}